.single-note-container{
  background-color: #fff;
  cursor: pointer;
  .single-note {
    width: 20rem;
    height: 18rem;
    overflow-y: scroll;
    padding: 1rem;
    &__date{
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      font-size: .8rem;
      color: rgb(180, 180, 180);
      font-style: italic;
      background-color: rgb(230, 230, 230);
    }
    &__title{
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
