.tag{
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
    padding: .05rem .2rem;
    padding-right: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    svg{
        fill: gray;
        cursor: pointer;
        &:hover{
            fill: red;
        }
    }
}