.tag {
  background-color: rgb(226, 226, 226);
  border-radius: 1rem;
  padding: 0.05rem 0.2rem;
  padding-right: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  svg {
    fill: gray;
    cursor: pointer;
    &:hover {
      fill: red;
    }
  }
}
