$--color-text: rgb(30, 30, 30);
$--color-bg: #4487bd;
$--color-primary: #1160d7;
$--color-primary-light: rgb(218, 231, 243);
$--color-blue: #3f84ed;
$--color-blue-hover: #1160d7;
$--color-red-hover: #e40000;
