@import "../sass/variables.scss";

.admin-layout {
  height: 100%;
  width: fit-content;
  display: flex;
  width: 100%;
  &__mobile-users {
    display: none;
    gap: 1rem;
    background-color: white;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 1rem;
    p {
      font-weight: bold;
    }
    & select {
      border: none;
      outline: none;
    }
  }
  &__users {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: min-content;
    &--user {
      text-decoration: none;
      color: $--color-text;
      padding: 1rem 0.5rem;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      &:hover {
        background-color: #d3e4f5;
        color: $--color-primary;
        svg {
          fill: $--color-primary;
        }
      }
      &.active {
        background-color: #e7f3ff;
        color: $--color-primary;
        svg {
          fill: $--color-primary;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .admin-layout {
    flex-direction: column;
    &__mobile-users {
      display: flex;
    }
    &__users {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .admin-layout {
    flex-direction: column;
    &__mobile-users {
      font-size: 0.8rem;
      display: flex;
    }
    &__users {
      display: none;
    }
  }
}
